BACKEND_PORT=8087
FRONTEND_PORT=5173
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret
APP_FRONTEND_URL=http://localhost:5173
APP_LOGIN_SUCCESS_PATH=/?login=success
APP_LOGIN_FAILURE_PATH=/?login=error
