.DS_Store
.idea/
.vscode/

*.iml
*.log
.env
.env.*

backend/.gradle/
backend/build/
backend/out/
backend/platform-core/src/main/generated/

frontend/admin-portal/node_modules/
frontend/admin-portal/dist/
frontend/user-web-app/node_modules/
frontend/user-web-app/dist/

infra/.data/
